html
{
	background:#3a4993;
	height:100%;
}
body 
{
	background-color: white;
	margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 125px;
    margin-left: 125px;
	height: 100%;
}
header img
{	
	margin-top: 15px;
    margin-bottom: 0px;
    margin-right: 15px;
    margin-left: 15px;
}
article
{
	margin: auto;
	border: 3px solid #ec3137;
	width: 200px;
	padding: 10px;
	padding-bottom: 20px;
	border-radius: 25px;
	vertical-align: middle;
	margin-top: 10%;
}
article select
{
	margin:10px;
	margin-left:0px;
}
article input
{
	margin: 10px;
}
article label
{
	margin:10px;
}