body {
    background-color: lightgrey;
    margin: 0px;
}

header {
    width: 1100px;
    margin: auto;
    background-color: white;
    margin-top: 0px;
    padding-top: 0px;
}

header img {
    height: 66px;
    padding: 15px;
    margin: 5px;
}

header img.subimg {
    float: right;
}

nav {
    background-color: white;
    width: 1100px;
    margin: auto;
    margin-top: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    background-color: #d7272a;
    width: 98%;
    margin: auto;
    border-radius: 15px;
}

nav ul li {
    float: left;
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.7em;
    line-height: 21px;
    padding: 20px;
    overflow: hidden;
}

nav ul li a:hover {
    background-color: #ac1b1f;
    overflow: hidden;
}

section {
    width: 1100px;
    margin: auto;
    background-color: white;
    overflow: auto;
}

section img {
    height: 300px;
    width: 225px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 15px;
    float: left;
}

section h3 {
    margin: 0;
    text-align: left;
    padding: 15px;
}

section p {
    margin: 0px;
    text-align: left;
}

section p.description {
    margin: 0px;
    text-align: left;
    clear: left;
}
