<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title> Бүртгэлийн систем </title>
	<link rel="icon" href="pictures/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href = "css/basicUser.css">
</head>
<body>
	<header>
	<img src = "pictures/logo_mn.png">
	<a href = "userInformation.html">
		<img src = "pictures/user.png" class="user">
	</a>
	<a href = "#">
	<img src = "pictures/pcs.jpg" class="user">
	</a>
	</header>
	<aside>
		<h3> Categories </h3>
		<br>
		<label> Category 1 </label>
		<br>
		<label> Category 2 </label>
		<br>
		<label> Category 3 </label>
		<br>
		<label> Category 4 </label>
	</aside>
	
	<section>
	<article>
	<img src="pictures/pc.png">
	<label> <br> A brief information of a record </label>
	</article>
	<article>
	<img src="pictures/pc.png">
	<label> <br> A brief information of a record </label>
	</article>
	<article>
	<img src="pictures/pc.png">
	<label> <br> A brief information of a record </label>
	</article>
	<article>
	<img src="pictures/pc.png">
	<label> <br> A brief information of a record </label>
	</article><article>
	<img src="pictures/pc.png">
	<label> <br> A brief information of a record </label>
	</article>
	<article>
	<img src="pictures/pc.png">
	<label> <br> A brief information of a record </label>
	</article>
	<button> Бүртгэл нэмэх </button>
	</section>
</body>
</html>