<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Бүртгэл нэмэх </title>
    <link rel="stylesheet" href="css/userInformation.css">
</head>

<body>
    <header>
        <a href="">
            <img src="pictures/logo_mn.png">
        </a>
        <a href="userInformation.html">
            <img src="pictures/user.png" class="subimg">
        </a>
        <a href="basicUser.html">
            <img src="pictures/pcs.jpg" class="subimg">
        </a>
    </header>
    <nav>
        <ul>

        </ul>
    </nav>
    <section>
        <img src="pictures/man.jpg">
        <h3>Name of the user</h3>
        <p> Title : IT engineer </p> <br>
        <p> Mobile: 99999999 </p> <br>
        <p> e-mail: aaa@qqq.ww </p> <br>
        <p class="desc"> Description </p>
    </section>
</body>
<script type="text/javascript" src="js/jquery-3.2.1.js"> </script>
<script type="text/javascript" src="js/menu.js"></script>
<script>
    //Retrieving stock type data
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var categories = JSON.parse(this.responseText);
            buildMenu(categories);
        }
    };
    xhttp.open("GET", "../model/stockviewmodel.php?t=0", true);
    xhttp.send();
</script>
</html>