<!DOCTYPE html>
<html>
<head>
	<title> Хэрэглэгчийн мэдээлэл</title>
	<link rel="icon" href="view/pictures/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href = "css/userInformation.css">
</head>
<body>
<header>
	<img src = "pictures/logo_mn.png">
	<a href="#">
		<img src = "pictures/user.png" class="user">
	</a>
	<a href = "basicUser.html">
	<img src = "pictures/pcs.jpg" class="user">
	</a>
</header>
<aside>
		<h3> Categories </h3>
		<br>
		<label> Category 1 </label>
		<br>
		<label> Category 2 </label>
		<br>
		<label> Category 3 </label>
		<br>
		<label> Category 4 </label>
</aside>
<section>
	<img src = "pictures/man.jpg">
	<h3>Name of the user</h3>
	<p> Title : IT engineer </p> <br>
	<p> Mobile: 99999999 </p> <br>
	<p> e-mail: aaa@qqq.ww </p> <br>
	<p class = "desc"> Description </p>
</section>
</body>
</html>